<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empleados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Actualizar Empleados</a>
              </li>                            
            </ul>            
          </div>
        </div>
      </nav>
      <% if (empleados) { %>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Actualizar Registro</div>
                <div class="card-body">
                    <form action="/actualizarempleados" method="POST">
                                             
                       <!--  <div class="mb-3">
                          <label for="cpais" class="form-label">Pais</label>
                          <select name="cpais" id="cpais" class="form-control" value="<%= departamentos.cpais %>" >
                             
                          </select>
                      </div>       -->    
                      
                       

                        <div class="mb-3">
                        <label for="cipadre" class="form-label">Cedula de identidad de Padre</label>
                        <input type="text" class="form-control" id="cipadre" name="cipadre" tabindex="1" value="<%= empelados.cipadre  %>">
                        </div> 

                        <div class="mb-3">
                        <label for="nom1" class="form-label">Nombre 1</label>
                        <input type="text" class="form-control" id="nom1" name="nom1" tabindex="1" value="<%= empleados.nom1  %>">                             
                        </div> 

                        <div class="mb-3">
                        <label for="nom2" class="form-label">Nombre 2</label>
                        <input type="text" class="form-control" id="nom2" name="nom2" tabindex="1" value="<%= empleados.nom2  %>">        
                        </div>      
                        
                         <div class="mb-3">
                        <label for="ape1" class="form-label">Apellido 1</label>
                        <input type="text" class="form-control" id="ape1" name="ape1" tabindex="1" value="<%= empleados.ape1  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="ape2" class="form-label">Apellido 2</label>
                        <input type="text" class="form-control" id="ape2" name="ape2" tabindex="1" value="<%= empleados.ape2  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="sexo" class="form-label">Sexo</label>
                        <input type="text" class="form-control" id="sexo" name="sexo" tabindex="1" value="<%= empleados.sexo  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" tabindex="1" value="<%= empleados.direccion  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="lugarnac" class="form-label">Lugar de nacimiento</label>
                        <input type="text" class="form-control" id="lugarnac" name="lugarnac" tabindex="1" value="<%= empleados.lugarnac  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="teldomicilio" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="teldomicilio" name="teldomicilio" tabindex="1" value="<%= empleados.teldomicilio  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" tabindex="1" value="<%= empleados.email  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="etnia" class="form-label">Etnia</label>
                        <input type="text" class="form-control" id="etnia" name="etnia" tabindex="1" value="<%= empleados.etnia  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="estcivil" class="form-label">Estado Civil</label>
                        <input type="text" class="form-control" id="estcivil" name="estcivil" tabindex="1" value="<%= empleados.estcivil  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="colorpelo" class="form-label">Color de pelo</label>
                        <input type="text" class="form-control" id="colorpelo" name="colorpelo" tabindex="1" value="<%= empleados.colorpelo  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="estatura" class="form-label">Estatura</label>
                        <input type="text" class="form-control" id="estatura" name="estatura" tabindex="1" value="<%= empleados.estatura  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="peso" class="form-label">Peso</label>
                        <input type="text" class="form-control" id="peso" name="peso" tabindex="1" value="<%= empleados.peso  %>">        
                        </div>   

                         <div class="mb-3">
                        <input type="idniveledu" name="idniveledu" value="<%= empleados.idniveledu %>" hidden>         
                        </div>   

                         <div class="mb-3">
                        <label for="cargo" class="form-label">Cargo</label>
                        <input type="text" class="form-control" id="cargo" name="cargo" tabindex="1" value="<%= empleados.cargo  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="contrato" class="form-label">Contrato</label>
                        <input type="text" class="form-control" id="contrato" name="contrato" tabindex="1" value="<%= empleados.contrato  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="departamento" class="form-label">Departamento</label>
                        <input type="text" class="form-control" id="departamento" name="departamento" tabindex="1" value="<%= empleados.departamento  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="ubicacion" class="form-label">ubicacion</label>
                        <input type="text" class="form-control" id="ubicacion" name="ubicacion" tabindex="1" value="<%= empleados.ubicacion  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="estadofoto" class="form-label">Estado de foto</label>
                        <input type="text" class="form-control" id="estadofoto" name="estadofoto" tabindex="1" value="<%= empleados.estadofoto  %>">        
                        </div>   

                         <div class="mb-3">
                        <label for="clave" class="form-label">Clave</label>
                        <input type="text" class="form-control" id="clave" name="clave" tabindex="1" value="<%= empleados.clave  %>">        
                        </div>   

                                                                                                                                                   
                                                                                       
                        <button type="submit" class="btn btn-primary" tabindex="5">Actualizar</button>
                        <a href="/empleados" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
      <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


</body>
</html>